$maxWidthContainer: 1270px;
$md1: $maxWidthContainer+12px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;
$fontFamily: 'Roboto';
$fontSize: 16;
$mainColor: #3A3A3A;
$orangeColor: #E89F71;
$grayColor: #898989;
$darkGrayColor: #616161;


.header{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;

	&__wrapper{
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 50;
	}
	&__container{

	}
	&__body{
		display: flex;
		align-items: center;
		padding: 5px 0;
		min-height: 125px;
	}
	&__main{
		display: flex;
		align-items: center;
		flex: 0 0 494/1240*100%;
	}
	&__logo{
		color: #000;
		font-weight: 700;
		font-size: 24px;
		line-height: 29/24*100%;
	}
}
.menu{
	flex: 0 1 420px;
	&__body{

	}
	&__list {
		@media (min-width:$md3){
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
		}
	}
	&__sub-list{
		display: none;
	}
	&__item{
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 0px 3px;
		padding: 5px 0px;
		position: relative;
		@media(ani-hover:hover){
			&:hover{
				.menu__sub-list{
					transform: translate(0px, 0px);
					opacity: 1;
					visibility: visible;
					pointer-events: auto;
					
				}
			}
		}
	}
	&__link{
		font-weight: 500;
		color:inherit;
		transform: color 0.3s ease 0;
	}
	&__arrow{
		margin: 0px 0px 0px 8px;
		transform: all 0.3s ease 0s;
		font-size: 8px;
	}
	&__sub-list{
		position: relative;
		background-color: $orangeColor;
		padding: 15px;
		flex: 1 1 100%;
		@media(min-width: $md3){
			opacity: 0;
			transform: all 0.3s ease 0s;
			transform: translate(0px 10px);
			min-width: 200px;
			left: 0;
			position: absolute;
			top: 100%;
			pointer-events: none;
		}
		&__sub-item{
			&:not(:last-child){
				margin: 0px 0px 5px 0px;
			}
		}
	}


}